header img {
    height: 80px;
    margin-left:40px ;
}
body {
    height: 125vh;
    background-image: url("https://th.bing.com/th/id/R.74280b5a75f9a7bdf33a3a4aa2513cc1?rik=tUb38MFvAUm8fg&riu=http%3a%2f%2f1.bp.blogspot.com%2f-n76ktg8W8yQ%2fUhD0aVlxvII%2fAAAAAAAAAuk%2f2yomVPYDW64%2fs1600%2flavender%2bfield.jpg&ehk=7v2KHUaStL2Kht1JLE81sdQm7d5ItpvnAekKoaCv3%2b4%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
main {
    color: white;
}
header {
    background-color: rgb(255, 229, 114);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 100px 0 rgb(255, 2, 145);
    border-radius: 50px;
    border: 10px solid rgb(132, 16, 132);
}
header * {
    display: inline;
}
header li {
    margin:20px;
}
header li a {
    color: black;
    text-decoration: none;

}

h1 {
    color: black;
    font-style: italic;
    border-radius: 50px;
    padding:20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
a:hover {
    background-color: blueviolet;
}
.list {
    list-style-position: inside;
margin: 0;
list-style: square inside url("sqpurple.gif");
background: lavenderblush;
padding: 30px;
margin-right: 75%;
border-radius: 50%;
border: 10px solid rgb(132, 16, 132);
}


p {
    color: black;
    padding: 30px;
margin: 0;
border: solid 10px rgb(132, 16, 132);
background-color:lavenderblush ;
}
.list2 {
    border: 10px solid rgb(132, 16, 132);
    background-color: lavenderblush;
    padding: 30px;
margin-right: 75%;
}
.Youtube {
    list-style-type:none;
    font-size: 15px;
    font-weight:bold;
}
h6 {
    border: 10px solid rgb(132, 16, 132);
    background-color: lavenderblush;
    padding: 10px;
    text-align: center;
}